<!-- header -->
<app-header></app-header>

<div style="margin-top: 80px;">
    <div class="d-flex flex-column justify-content-center align-items-center">

        <a routerLink="/user/home" class="btn " style="background: rgb(195,35,165);
        background: linear-gradient(109deg, rgba(195,35,165,1) 15%, rgb(190, 57, 161) 88%); color: white;">BACK TO HOME</a>
        <div class="row border rounded shadow p-5 mt-4">
            <!-- image -->

            <div class="col-lg-6">
                <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png"
                    alt="no image">
            </div>

            <div class="col-lg-6 primary">
                <div style="height: 100%;" class="d-flex flex-column align-items-center">

                    <h3 class="fw-bolder">Welcome User</h3>
                    <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="login()">

                        <!-- email id -->

                        <div class="mb-3">
                            <input type="text" placeholder="E-mail Id please !!!" class="form-control" formControlName="email">
                        </div>

                         <!-- validation error -->

                         <div *ngIf="this.loginForm.get('email')?.errors&&this.loginForm.get('email')?.touched" class="fw-bolder text-danger" >Invalid Email</div>


                        <!-- password -->
                        
                        <div class="mb-3">
                            <input type="password" placeholder="password" class="form-control" formControlName="password">
                        </div>
                        <!-- validation error -->

                        <div *ngIf="this.loginForm.get('password')?.errors&&this.loginForm.get('password')?.touched" class="fw-bolder text-danger" >Invalid Password</div>


                        <input style="background: rgb(195,35,165);
                        background: linear-gradient(109deg, rgba(195,35,165,1) 15%, rgba(59,156,172,1) 88%); color: white;" type="submit" class="btn btn-light mt-3 mb-4" value="Login">

                    </form>

                    <p>New User?click here <a class="text-decoration-none" routerLink="/user/register">Register</a></p>

                </div>

            </div>

        </div>

    </div>
</div>


<!-- footer -->
<app-footer></app-footer>